<a href="https://colab.research.google.com/github/NuzhatProgga/A1_CT_2_18101005/blob/master/A1_CT_2_18101005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a program to check Leap year.**

In [ ]:
year = int(input("Enter a Year: "))

if year%400 == 0:
  print(year, "is leap year!")
elif year%100 == 0:
  print(year, "is not leap year!")
elif year%4 == 0:
  print(year,"is leap year!")
else:
  print(year,"is not leap year!")

Enter a Year: 1996
1996 is leap year!

**Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.**

In [ ]:
given_str = input()

str_1 = given_str[0:3]
str_2 = given_str[3:6]
str_3 = given_str[6:9]
str_4 = given_str[9:12]

temp = str_1
str_1 = str_4
str_4 = temp

final_str = str_1 + str_2 + str_3 + str_4

print(final_str)

ABCDEFGHIJKL
JKLDEFGHIABC

**Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.**

In [ ]:
grp_dic = {
    18101005 : {
        "Name" : "Nuzhat",
        "ID" : 18101005,
        "CGPA" : 3.81,
        "Email_Address" : "18101005@uap-bd.edu",
        "Contact_no" : "01700000000"
    },
    18101008 : {
        "Name" : "Nafees",
        "ID" : 18101008,
        "CGPA" : 3.85,
        "Email_Address" : "18101008@uap-bd.edu",
        "Contact_no" : "01700000001"
    },
    18101020 : {
        "Name" : "Joy",
        "ID" : 181010020,
        "CGPA" : 3.9,
        "Email_Address" : "18101020@uap-bd.edu",
        "Contact_no" : "01700000002"
    },
    18101027 : {
        "Name" : "Mredul",
        "ID" : 181010027,
        "CGPA" : 3.83,
        "Email_Address" : "18101027@uap-bd.edu",
        "Contact_no" : "01700000003"
    },
    18101002 : {
        "Name" : "Jack",
        "ID" : 18101002,
        "CGPA" : 3.88,
        "Email_Address" : "18101002@uap-bd.edu",
        "Contact_no" : "01700000004"
    }
}

In [ ]:
print(grp_dic[18101005])

{'Name': 'Nuzhat', 'ID': 18101005, 'CGPA': 3.81, 'Email_Address': '18101005@uap-bd.edu', 'Contact_no': '01700000000'}

**Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the EmployeeID, it will show all the information of that Employee.**

In [ ]:
all_emp = {
    1001 : {
        "Ename" : "John",
        "DeptID" : 2,
        "Salary" : 4000, 
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    },
    1002 : {
        "Ename" : "Anna",
        "DeptID" : 1,
        "Salary" : 3500, 
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },
    1003 : {
        "Ename" : "James",
        "DeptID" : 1,
        "Salary" : 2500, 
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },
    1004 : {
        "Ename" : "David",
        "DeptID" : 2,
        "Salary" : 5000, 
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    }

}

find_emp = int(input())

print(all_emp[find_emp])

1002
{'Ename': 'Anna', 'DeptID': 1, 'Salary': 3500, 'Dname': 'HR', 'Dlocation': 'Mumbai'}